body {
  font-family: 'Reenie Beanie', cursive;
  background-color: #666;
  margin: 0;
  padding: 0;
  color: white;
}

.app-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
}

.app-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000000;
}

.form-postit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  align-items: center;
}

.form-postit input {
  width: 100%;
  max-width: 500px;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 1rem;
  font-family: 'Arial', cursive;
  outline: none;
}

.form-postit button {
  background-color: #383838;
  color: white;
  font-size: 1.2rem;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: 'Arial', cursive;
}

.form-postit button:hover {
  background-color: #424242;
}

/* Grid para post-its */
.postits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

/* Título dentro del post-it */
.titulo-postit {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #000000;
}

.titulo-postit {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #5f370e;
  word-wrap: break-word;
}

.descripcion-postit {
  margin: 0;
  font-size: 1.1rem;
  word-wrap: break-word;
}

.postit {
  background-color: #ffffcc;
  border-radius: 2px;
  padding: 30px 30px;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-family: 'Reenie Beanie', cursive;
  color: #333;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  min-height: 120px;
}

.postit:hover {
  transform: scale(1.03);
}

.postit.importante {
  background-color: #ec7063;
}

.btn-eliminar {
  position: absolute;
  top: 8px;
  right: 8px;
  color: black;
  border: none;
  width: 24px;
  height: 24px;
  font-size: 32px;
  cursor: pointer;
  line-height: 24px;
  text-align: center;
  font-family: 'Reenie Beanie';
  transition: background 0.3s ease;
  background-color: transparent;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  font-family: 'Arial', cursive;
  margin-top: 5px;
}

/* Responsive para móviles */
@media (max-width: 590px) {
  .form-postit textarea {
    width: 100%;
    font-size: 1rem;
  }

  .form-postit button {
    width: 100%;
  }

  .postit {
    font-size: 1rem;
  }

  .postits-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}